*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

}
.header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(61, 10, 109);
}
.header_body{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo{
    position: relative;
    z-index: 4;
}
.logo a{
    color: white;
    font-size: 40px;
}

.header-list{
    display: flex;
    position: relative;
    z-index: 4;
}
.header-list a{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.burger{
    display: none;
}
@media (max-width: 600px){
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 5;
    }
    .burger::before{
        content: "";
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transition: 1s all;
    }
    .burger::after{
        content: "";
        background: black;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: 1s all;
    }
    .burger span{
        width: 100%;
        height: 2px;
        position: absolute;
        background: black;
        left: 0;
        top: 9px;
        transition: 1s all;
    }
    .menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: blueviolet;
        padding: 100px 200px ;
        transition: all 1s;
    }
    .menu.active{
        top: 0;
    }
    .burger.active span{
        transform: scale(0);
    }
    .burger.active::before{
        transform: rotate(45deg);
        top: 10px;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        bottom: 19px;
    }
    .header-list{
        display: block;
    }
    .header-list li{
        margin-bottom: 15px;
    }
}